body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;

    @media(max-width: 1024px){

      overflow-y: scroll;
    }
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #title{
  
    font-family: "Passion One";
  
  }
  
  #BodyQuiz{
  
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-size: cover;

    h2{

        margin-top: 0px;
        margin-bottom: 0px;
    }
  }

#OpacityLayout{

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#ContentLayout{

    color: #fbde74;
    z-index: 999999;
    position: relative;
    display: table;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 8%;
    height: 100vh;

    h2#title{

        letter-spacing: 7px;
        font-size: 3rem;
        padding-top: 3rem;
    }

    h4{

        font-family: 'Advent Pro', sans-serif;
        letter-spacing: 7px;
        font-size: 1.5rem;
    }
}

/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  user-select: none;
  min-height: 35px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;

  @media(max-width: 1024px){
    width: 86%;

  }
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #121338;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {

}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-container p{

  position: absolute;
  top: 6px;
  right: 40%;
  margin: 0;
  color: #4d4d94;
  font-family: 'Passion One';
}

#NextCuestion{

  width: 43%;
    font-family: 'Passion One';
    font-size: 1.5rem;
    background: #121338;
    border: none;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;

    @media(max-width: 1024px){

      width: 95%;
    }
}