body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #title{
  
    font-family: "Passion One";
  
  }
  
  #BodyQuiz{
  
    text-align: center;
    width: 100%;
    min-height: 1200px;
    background-image: url("./assets/bg.jpg");
    background-size: cover;

    h2{

        margin-top: 0px;
        margin-bottom: 0px;
    }
  }

#OpacityLayout{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#ContentLayout{

    color: #fbde74;
    z-index: 999999;
    position: relative;

    h2{

        letter-spacing: 7px;
        font-size: 3rem;
        padding-top: 3rem;
    }

    h4{

        font-family: 'Advent Pro', sans-serif;
        letter-spacing: 7px;
        font-size: 1.5rem;
    }
}